
//- TEXT_BOX
mixin input(type,id,placeholder,label,name)
    .form-group
        label(for=id) #{label}
        input.form-control(type=type,id=id,placeholder=placeholder,name=name)


//- FANCY-TEXT_BOX
mixin input-fancy(prepend,append)
    .form-group
        .input-group
            unless !prepend
                .input-group-addon
                    = prepend
                block
                unless !append
                    .input-group-addon
                        = append
                        
//- SIMPLE-TEXT_BOX
mixin input-simple(type,id,placeholder,name)
    input.form-control(type=type,id=id,placeholder=placeholder,name=name)
                        
//- SUBMIT_BUTTON
mixin submit(text,name,id)
    .form-group
        button.btn.btn-default(type="submit",name=name,id=id)= text


//- iconBUTTON
//-mixin icon-button(icon)
    button.btn.btn-default(type="button",aria-label=icon)
        +icon(icon)
        
//- Checkbox 
mixin checkbox(text,name,id)
    .checkbox
        label
            input(type="checkbox",name=name,id=id)
            = text 
            
            
mixin dropup(caption,items)
  .dropup
    button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
      = caption
      | &nbsp;   
      span.caret
    ul.dropdown-menu(role="menu",aria-labelledby="dropupMenu1")
     - var args = Array.prototype.slice.call(arguments);
      for item in args[1]
         li(role="presentation")
           a(role="menuitem",tabindex="-1",href="#{item.url}")= item.text     
