- var Address = "1234 Street"
- var City = "San Francisco"
- var Zip = "91741"
- var Cost = "100000"
- var Bedroom = "1"

doctype html
html(lang="en")
  head
    title "Test Page"

    body
      h1 "Header"
      p "Paragraph"
        a(href="link") This is the link text to be clicked

      form(method='GET', action="./property")
        div.form-group
          label(for='searchInput') Search:
          input(name="searchInput", type="text", id="ourid", placeholder="Search...")
          input(type="submit", value="Button")


      div
        ul
          li #{Address}
          li #{City}
          li #{Zip}
          li #{Cost}
          li #{Bedroom}
