- var Address = "Address: "
- var City = "City: "
- var Zip = "ZIP: "
- var Cost = "Price: "
- var Bedroom = "Bedromms: "

doctype html
html(lang="en")
  head
    title "Test Page"

    body
      h1 "Header"
      p "Paragraph"
        a(href="link") This is the link text to be clicked

      form(method='GET', action="/fa17g08/property")
        div.form-group
          label(for='searchInput') Search:
          input(name="searchInput", type="text", id="ourid", placeholder="Search...")
          input(type="submit", value="Button")


      div
        ul
          li #{Address} #{propertyList[0].Address}
          li #{City} #{propertyList[0].City}
          li #{Zip} #{propertyList[0].Zip}
          li #{Cost} #{propertyList[0].Cost}
          li #{Bedroom} #{propertyList[0].Bedroom}
          li #{propertyList[0].Address}
